[submodule "submodules/cutlass"]
	path = submodules/cutlass
	url = https://github.com/StarGazer1995/cutlass.git
[submodule "submodules/llama.cpp"]
	path = submodules/llama.cpp
	url = https://github.com/StarGazer1995/llama.cpp.git
[submodule "submodules/eigen"]
	path = submodules/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "submodules/googletest"]
	path = submodules/googletest
	url = https://github.com/google/googletest.git
[submodule "submodules/glog"]
	path = submodules/glog
	url = https://github.com/google/glog.git
[submodule "submodules/benchmark"]
	path = submodules/benchmark
	url = https://github.com/google/benchmark.git
